// Fonts
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.hero{
    background-image: url('/img/hero.jpg');
    height: 470px;
}

.search-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 0 20px;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    animation: fadeIn 0.5s ease-in-out;
}

.search-section #term{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 55px;
    margin-right: -0.2px;
    border-color: transparent;
}

.search-section #search-btn{
    background-color: #fff;
    border-color: transparent;
    border-left-color: transparent;

}

.search-section #mic-btn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    border-left-color: transparent;
}

#mic-btn i,
#search-btn i{
    font-size: 15px;
}

.search-section #search-btn:hover{
    background-color: #ced4da;
    border-color: #ced4da;
}
#mic-btn:hover{
    background-color: #f8d7da;
}

#loader {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    font-size: 26px;
    font-weight: bold;
}

.page-description {
    font-size: 17px;
}

.article-title {
    font-size: 20px;
    font-weight: bold;
    font-family: "Lora";
    color: $gray-800;
    text-decoration: none;
}

.article-title:hover {
    color: $blue-600;
    text-decoration: underline;
}

.single-article.article-title {
    font-size: 30px;
    font-family: "Open Sans";
    color: $gray-700;
    text-decoration: none;
}

.single-article.article-title:hover {
    text-decoration: none;
}

.sidebar-title{
    font-size: 17px;
}
.article-tags,
.article-categories {
    font-size: 17px;
}
.article-published{
    font-size: 15px;
}

.article-content p {
    font-size: 17.5px !important;
    font-family: "Open Sans";
}

.article-meta{
    font-size: 15px;
    font-family: "Open Sans";
    color: $gray-700;
}

.article-author{
    font-size: 16px;
    font-family: "Open Sans";
    color: $gray-700;
}

.article-image{
    border-radius: 20px;
}

.sidebar{
    background-color: $gray-300;
    border-radius: 20px;
}

.sidebar-title{
    font-size: 17.5px;
    font-weight: bold;
    font-family: "Open Sans";
    color: $gray-700;
}

.sidebar-archives a,
.sidebar-categories a{
  font-size: 17px;
  color: $gray-700;
  text-decoration: none;
}

.sidebar-archives i,
.sidebar-categories i{
  font-size: 17px;
  color: $gray-700;
  text-decoration: none;
}

.sidebar-article-image{
    border-radius: 10px;
}

.sidebar-article-title{
    font-size: 17px;
    font-family: "Open Sans";
    color: $gray-700;
    text-decoration: none;
}

.sidebar-article-title:hover{
    text-decoration: underline;
}

.sidebar-article-author{
    font-size: 14.5px;
    font-family: "Open Sans";
    color: $gray-600;
}

.contact-form,
.footer,
.navbar-gray{
    background: $gray-300;
}

.contact-form{
    border-radius: 20px;
}

.footer-title{
    font-size: 17.5px;
    font-weight: bold;
}

.footer-description{
    font-size: 17px;
}

.social-links li{
    font-size: 17px;
    line-height: 2.60;
}

.social-links li a{
    height: 40px;
    width: 40px;
    background-color: rgba(0,0,0,0.5);
	color: white;
	-webkit-border-radius: 37px;
	border-radius: 37px;
	display: inline-block;
	margin: 0 0.5em 0.5em 0;
	text-align: center;
	transition: 0.4s;
}

.social-links li a:hover{
	background-color: rgba(150, 146, 146, 0.2);
	transition: 0.6s;
    border: 1px solid  rgba(0,0,0,0.5);
}

.social-links a:hover > .fa-facebook-f{
	color: #00009C;
}

.social-links a:hover > .fa-twitter{
	color: #00E9E9;
}

.social-links a:hover > .fa-instagram{
	color:#B62249;
}

.social-links a:hover > .fa-youtube{
	color: #E61818;
}

